* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 100%;
}

a {
    color: rgb(0, 0, 0);
}

h1 {
    font-size: 40px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

input {
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

textarea {
    outline: none;
    resize: none;
    font-family: inherit;
}

button {
    font-family: inherit;
    font-size: inherit;
}

.iconButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: fit-content;
    height: 40px;
    min-height: 40px;
    padding: 0 10px 0 10px;
    font-size: 18px;
    background-color: rgb(240, 240, 240);
    border-radius: 9999px;
    user-select: none;
    cursor: pointer;
}

.iconButton:hover {
    background-color: rgb(220, 220, 220);
}

.submitButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: fit-content;
    height: 40px;
    min-height: 40px;
    padding: 0 10px 0 10px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 180, 255);
    border: 0;
    border-radius: 9999px;
    user-select: none;
    cursor: pointer;
}

.submitButton img {
    filter: invert(1);
}

.submitButton:hover {
    background-color: rgb(0, 150, 225);
}

.hiddenFileInput {
    position: absolute;
    width: 0px;
    height: 0px;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
}

.avatarImage {
    border-radius: 9999px;
    overflow: hidden;
}

.userNameWithAvatar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tabButtonList {
    display: flex;
    gap: 10px;
}

.tabButton {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 40px;
    padding: 0px 10px;
    font-size: 18px;
    background-color: rgb(240, 240, 240);
    border: 1px solid black;
    border-radius: 9999px;
    user-select: none;
    cursor: pointer;
}

.tabBodyList {
    width: 100%;
}

.tabButton.active {
    background-color: rgb(200, 255, 150);
}

.tabButton:not(.active):hover {
    background-color: rgba(200, 255, 150, 0.5);
}

.tabBody:not(.active) {
    display: none;
}

.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.paginationButton {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    height: 40px;
    padding: 0px 10px;
    font-size: 18px;
    background-color: rgb(240, 240, 240);
    border: 1px solid black;
    border-radius: 9999px;
    user-select: none;
    cursor: pointer;
}

.paginationButton.active {
    background-color: rgb(200, 255, 150);
}

.paginationButton:not(.active):hover {
    background-color: rgba(200, 255, 150, 0.5);
}

.hidden {
    display: none !important;
}

.spinner {
    animation: spin 1s linear infinite;
    width: 40px;
    height: 40px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
