#recentPosts {
    width: 800px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#recentPostsTitleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#recentPostsList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
}

#noPostsPlaceholder {
    color: rgb(160, 160, 160);
    font-size: 30px;
}

#recentPostsList {
    width: 100%;
}

.post {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.postTopPanel {
    display: flex;
    gap: 20px;
}

.postDatetime {
    color: rgb(120, 120, 120);
}

.postTitleContainer {
    margin-top: 1.3em;
    margin-bottom: 1.3em;
}

.postTitle {
    font-size: 25px;
    margin: 0;
}

.postTags {
    display: flex;
    gap: 10px;
}

.postTag {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(200, 255, 150);
    height: 30px;
    border-radius: 15px;
}

.postContent {
    margin-bottom: 0.83em;
}

.postLikes {
    display: flex;
    align-items: center;
    gap: 15px;
    width: fit-content;
    height: 40px;
    padding: 0px 10px 0px 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    user-select: none;
    cursor: pointer;
}

.postLikes .postLikesHeartFull {
    display: none;
}

.postLikes.active .postLikesHeart {
    display: none;
}

.postLikes.active .postLikesHeartFull {
    display: block;
}

.postLikes.active {
    background-color: rgb(200, 255, 150);
}

.postLikes:hover {
    cursor: pointer;
}

.postLikesHeart {
    width: 25px;
    height: 25px;
    background-color: black;
    mask-image: url("../icons/heart.png");
    mask-size: 25px 25px;
}

.postLikesHeartFull {
    width: 25px;
    height: 25px;
    background-color: red;
    mask-image: url("../icons/heart_full.png");
    mask-size: 25px 25px;
}
